body{
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/6275.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}